pip>=25.1.1
base64
beautifulsoup4
db-sqlite3
faiss-cpu
google-generativeai
joblib
json
keras
langchain-community
langchain-huggingface
matplotlib
numpy<2.0
pandas
pdfplumber
plotly>=5.18
Pillow
requests
scikit-learn
scipy<1.12
sentence-transformers
streamlit
streamlit-aggrid
streamlit-autorefresh>=0.3.1
streamlit-calendar
streamlit-scroll-navigation
transformers
unicodedata2
tensorflow
time
