faiss-cpu
google-generativeai
joblib
keras
langchain-community
langchain-huggingface
numpy<2.0
pandas
Pillow
scikit-learn
scipy<1.12
sentence-transformers
db-sqlite3
streamlit
streamlit-aggrid
streamlit-calendar
streamlit-scroll-navigation
transformers
unicodedata2
tensorflow
pdfplumber
beautifulsoup4
