faiss-cpu
google-generativeai
joblib
keras
langchain-community
langchain-huggingface
numpy
pandas
Pillow
scikit-learn
sentence-transformers
db-sqlite3
streamlit
streamlit-calendar
streamlit-scroll-navigation
transformers
unicodedata2
tensorflow
